<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.8decision.app"
        versionCode = "10"
        version     = "1.0.0">

    <name>ТЕСТ. news.8decisions.group</name>

    <description>
        Новостной сайт от 8decisiongroup
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/90d4dcd6ae8f9fdc3f313a685e37eee0.png" density="ldpi" />
        <icon src="res/android/icon/3717358beb95862adff2273100743cc9.png" density="mdpi" />
        <icon src="res/android/icon/488cda9f77ff58dbe0d989eeb0fc3d16.png" density="hdpi" />
        <icon src="res/android/icon/c702ea4e462159940d746a8396580463.png" density="xhdpi" />
        <icon src="res/android/icon/86e7a77f7145c8c68ce8c8004ccfe055.png" density="xxhdpi" />
        <icon src="res/android/icon/ee41a161dcc12ec50077eed08416fbfb.png" density="xxxhdpi" />

        <splash src="res/android/screen/ae723d6af94745ca0e99a07cfe1100f4.png" density="port-hdpi"/>
        <splash src="res/android/screen/3c1c92442b38815931ca58e97dd6aae3.png" density="port-ldpi"/>
        <splash src="res/android/screen/f02c92790f7d5c819bee6a02959907fc.png" density="port-mdpi"/>
        <splash src="res/android/screen/506e42ff2fe7aabe9e58ab6e01092d92.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/4d5379b6c3b89a9310ebab8aba1c22fe.png" width="180" height="180" />
        <icon src="res/ios/icon/8513164b61137f64040562e78e1c5347.png" width="60" height="60" />
        <icon src="res/ios/icon/80d17a74edfac45f7b5d212cd433826a.png" width="120" height="120" />
        <icon src="res/ios/icon/17b763db99ba64cdd5621107f5f58fd2.png" width="76" height="76" />
        <icon src="res/ios/icon/fe3228c78ef7055a09b1f6c50cfdc6fc.png" width="152" height="152" />
        <icon src="res/ios/icon/cfa1cbb5aca0b75387cc0c1468e8a3f1.png" width="57" height="57" />
        <icon src="res/ios/icon/3303d297c16dc83747e358029c81eeb9.png" width="114" height="114" />
        <icon src="res/ios/icon/42fbdaed0f778447519689fbd2718d3a.png" width="72" height="72" />
        <icon src="res/ios/icon/46e3dc729505c01d625756b37b7243fa.png" width="144" height="144" />
        <icon src="res/ios/icon/b293d865f5e4a3bc2b344294bf5f1aa0.png" width="167" height="167" />
        <icon src="res/ios/icon/f30c74f94d0157fba2e4ca648431d9fc.png" width="29" height="29" />
        <icon src="res/ios/icon/216c956b5ceb5c1031e1e54be31d5d20.png" width="58" height="58" />
        <icon src="res/ios/icon/0254452bd9dda93660c66637340e0025.png" width="87" height="87" />
        <icon src="res/ios/icon/bacc2af15579d365acb49d965540cba1.png" width="167" height="167" />

        <splash src="res/ios/screen/0c932a4396abdbe515ed45f0d6b8094b.png" />
        <splash src="res/ios/screen/1950aa0227ff6bbb4a75df83fcfe9d5b.png" />
        <splash src="res/ios/screen/a1b922019ecb9a53fa1d1774c18a2b03.png" />
        <splash src="res/ios/screen/5e5169e087109cf5f70c68f3cadd0471.png" />
        <splash src="res/ios/screen/c82491338394def6189e883c8bb58f3b.png" />
        <splash src="res/ios/screen/62186e01a17259dc0ac4bef0e070d889.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/6f3c2e61fdd9f12acf683082ea48d1da.png" target="StoreLogo" />
        <icon src="res/windows/icon/bb61d9660343eb26b4c20318ee5612a5.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/faafe7e39425f5318ca5670527d1807d.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/0e5557011905660ff43ac566eeedf27b.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/30695ab7840f3caba4ce12b013feddaf.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/de90bc95966628e510b1352fe0f63ac2.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/72590d33c8c24837291cbff3e5d9c688.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/1704c6be086560e095ccee8ff9e6e931.png" target="SplashScreen"/>
        <splash src="res/windows/screen/95e9dabfc427c62aa0783f88ebe8bd04.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>